@import "~/bootstrap.min.css";

Label.id {
    width: 16%;
}

Label.message {
    width: 100%;
}

Label.name {
    text-align: right;
    font-size: 12px;
    color: #999;
}

Label.dt {
    text-align: right;
    font-size: 12px;
    color: #999;    
}

.text-white {
    color: #fff;
}

.pt-12 {
    padding-top: 12;
}

.icon {
    padding: 8;
    font-size: 24;
}